* {
  box-sizing: border-box;
  color: rgb(245, 245, 245);
  font-family: 'Trebuchet MS';
}

body {
  margin: 0;
}

.c_container {
  width: 100%;
  min-height: 100vh;
  background-color: black; 
    background-image: linear-gradient(45deg, #000000 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #000000 75%, #efefef),
     linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);

  background-size: 10%;
  padding: 1rem;
}

.c_navbar, .c_text_area, .c_color_area, .c_buttons {
  border: 1px solid black;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.c_navbar h3, .c_text_area h3 {
  
  margin: 0;
  font-size: 2rem;
}

.c_color_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.C_color_box {
  width: 34%;
  aspect-ratio: 1/1;
  transition: 0.3s;
}

.C_color_box:hover {
  cursor: pointer;
  opacity: 0.8;
  border-radius: 50%;
}

#one { background-color: red; }
#two { background-color: yellow; }
#three { background-color: blue; }
#four { background-color: purple; }

.c_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.c_buttons button {
  background-color: black;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

@media(max-width: 1000px){
  .c_navbar h3 {
    font-size: 1.5rem;
  }  

  .C_color_box {
    width: 45%;
  }

  .c_buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .c_container {
    padding: 0.5rem;
  }
  .c_navbar, .c_text_area, .c_color_area, .c_buttons, .c_timer {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
  }
  .c_navbar h3, .c_text_area h3 {
    font-size: 1.2rem;
  }
  .c_color_area {
    gap: 0.5rem;
  }
  .C_color_box {
    width: 80px;
    min-width: 60px;
    aspect-ratio: 1/1;
  }
  .c_buttons button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  #timerDisplay {
    font-size: 2rem;
  }
  #highScoreDisplay {
    font-size: 1.2rem;
  }
}
